:root {
    --primary-color: #ffffff;
    --primary-font: #000000;
    --secondary-font: #fff;
    --primary-accent: #3b64c3;
    --highlight-accent: #0d9ff2;
    --primary-border: #a9a9a9;
    --warning: #d0342c;
    --secondary-accent: #00ffa3;
    --max-width: 1000px;
}