:root {

    --PRIMARY_COLOR: #0D9FF2;
    --DISABLED_COLOR: #0D9FF280;
    --BORDER_COLOR: #858585;
    --DANGER_COLOR: #C41E3A;
    --SUCCESS_COLOR: #228B22;
    --ACCENT_COLOR: #000000;
    --MAIN_BACKGROUND: #F4F4F4;
    --SECONDARY_BACKGROUND: #FFFFFF;

}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');